<p id="notice"><%= notice %></p>

<p>
  <b>ID:</b>
  <%= @profile.user_id %>
</p>

<p>
  <b>Avatar:</b>
  <%= @profile.avatar %>
</p>

<p>
  <b>Name:</b>
  <%= @profile.name %>
</p>

<p>
  <b>Coins:</b>
  <%= @profile.coins %>
</p>


<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>
