<%= form_for(new_museum_exhibit_path(@museum)) do |f| %>
  <% if @exhibit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibit.errors.count, "error") %> prohibited this exhibit from being saved:</h2>

      <ul>
      <% @exhibit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :audio %><br />
    <%= f.text_field :audio %>
  </div>
  <div class="field">
    <%= f.label :video %><br />
    <%= f.text_field :video %>
  </div>
  <div class="field">
    <%= f.label :floor %><br />
    <%= f.number_field :floor %>
  </div>
  <div class="field">
    <%= f.label :lat %><br />
    <%= f.number_field :lat %>
  </div>
  <div class="field">
    <%= f.label :long %><br />
    <%= f.number_field :long %>
  </div>
  <div class="field">
    <%= f.label :qr_code %><br />
    <%= f.text_field :qr_code %>
  </div>
  <div class="field">
    <%= f.label :museum_id %><br />
    <%= f.text_field :museum_id %>
  </div>
  <div class="actions">
    <%= f.submit "Add Exhibit" %>
  </div>
<% end %>
