<% url = museum_exhibits_path(@museum) %>
<% url = museum_exhibit_path(@museum,@exhibit) if !@exhibit.new_record? %>
<% method =  @exhibit.new_record? ? :post : :put %>

<%= form_for(@exhibit, url: url, method: method) do |f| %>
  <% if @exhibit.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@exhibit.errors.count, "error") %> prohibited this exhibit from being saved:</h2>

      <ul>
      <% @exhibit.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <br>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div>
  <br>
  <div class="field">
    <%= f.label :audio %>
    <%= f.text_field :audio %>
  </div>
  <br>
  <div class="field">
    <%= f.label :video %>
    <%= f.text_field :video %>
  </div>
  <br>
    <div class="field">
    <%= f.label :language %>
    <%= f.select :language, 
    options_for_select([['Romana', 'RO'], ['Engleza', 'EN'], ['Germana', 'DE'], ['Franceza', 'FR']], 'RO') %>
  </div>
  <br>
  <div class="field">
    <%= f.label :floor %>
    <%= f.number_field :floor %>
  </div>
  <br>
  <div class="field">
    <%= f.label :lat %>
    <%= f.number_field :lat , type: 'float' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :long %>
    <%= f.number_field :long , type: 'float' %>
  </div>
  <br>
  <div class="field">
    <%= f.label :private %>
    <%= f.number_field :private %>
  </div>
  <div class="field">
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :remote_image_url, "or image URL" %><br />
    <%= f.text_field :remote_image_url %>
  </p>
  </div>
  <br>
  <div class="actions">
    <%= f.submit "Add Exhibit" %>
  </div>
<% end %>
