<h1>Listing exhibits</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Audio</th>
    <th>Video</th>
    <th>Floor</th>
    <th>Lat</th>
    <th>Long</th>
    <th>Qr code</th>
    <th>Museum</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @exhibits.each do |exhibit| %>
  <tr>
    <td><%= exhibit.title %></td>
    <td><%= exhibit.description %></td>
    <td><%= exhibit.audio %></td>
    <td><%= exhibit.video %></td>
    <td><%= exhibit.floor %></td>
    <td><%= exhibit.lat %></td>
    <td><%= exhibit.long %></td>
    <td><%= exhibit.qr_code %></td>
    <td><%= exhibit.museum_id %></td>
    <td><%= link_to 'Show', exhibit %></td>
    <td><%= link_to 'Edit', edit_exhibit_path(exhibit) %></td>
    <td><%= link_to 'Destroy', exhibit, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Exhibit', new_exhibit_path %>
