<div class="row">
  <div class="span12">
    <h2>
      <%= @exhibit.title %>
    </h2>

    <h3>
      <%= @museum.name %>
    </h3>

    <%= image_tag((@exhibit.image_url(:thumb_exhibits)), id:"exhibit-img") if @exhibit.image? %>

    <p id="showdescription">
      <%= @exhibit.description %>
    </p>
  </div>
</div>



<div class="row footer">
  <div class="span6">
    <div class="text-center">
        <a href='#' class="btn btn-large btn-success">
          <%= image_tag("google.png", id:"download-arrow") %>
          DOWNLOAD <%= image_tag("down_logo.png", id:"download-moo") %>
        </a>
    </div>
  </div>
  <div class="span6">
    <p id="social-icons">
      <a href="#"><%= image_tag("facebook-logo.png", id: "facebook-logo") %></a>
      <a href="#"><%= image_tag("twitter-logo.png", id: "twitter-logo") %></a>
      <a href="#"><%= image_tag("google-plus-logo.png", id: "google-logo") %></a>
      <a href="#"><%= image_tag("pinterest-logo.png", id: "pinterest-logo") %></a>
    </p>
  </div>

</div>


