<p id="notice"><%= notice %></p>
<h1><%= @museum.name %></h1>

<%= image_tag(@exhibit.image_url(:thumb_exhibits)) if @exhibit.image? %>

  <%=  render partial: 'shared/en' %>
  
  <!--
  <%= render partial: 'shared/fr' %>
  <%= render partial: 'shared/de' %>
  <%= render partial: 'shared/it' %>
  <%= render partial: 'shared/sp' %> 
  -->  

<p>
  <b>Floor:</b><br>
  <%= @exhibit.floor %>
</p>
<p>
  <b>Private :</b><br>
  <%= @exhibit.private? ? "Is not published." : "Is published."%>
</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=45.769963,24.135438&amp;daddr=&amp;hl=ro&amp;geocode=&amp;sll=45.769925,24.136019&amp;sspn=0.004356,0.009871&amp;mra=mift&amp;mrsp=0&amp;sz=17&amp;ie=UTF8&amp;ll=45.769925,24.136019&amp;spn=0.004356,0.009871&amp;t=m&amp;output=embed">
</iframe>
<br>
<small>
  <a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=45.769963,24.135438&amp;daddr=&amp;hl=ro&amp;geocode=&amp;sll=45.769925,24.136019&amp;sspn=0.004356,0.009871&amp;mra=mift&amp;mrsp=0&amp;sz=17&amp;ie=UTF8&amp;ll=45.769925,24.136019&amp;spn=0.004356,0.009871&amp;t=m" style="color:#0000FF;text-align:left">
    Vizualizare harta marita
  </a>
</small>

<% if current_user %>
  <%= link_to "QR Code for print", museum_exhibit_path(@museum,@exhibit)+".png", target: '_blank' %>
  <br>
  <%= link_to 'Edit', edit_museum_exhibit_path(@museum,@exhibit) %> |
  <%= link_to 'Delete',museum_exhibit_path(@museum,@exhibit), method: :delete %> |
  <%= link_to 'Back', museum_path(@museum) %>
<% end %>
