<p id="notice"><%= notice %></p>
<h1><%= @museum.name %></h1>
<hr>
<p>
  <b>Title:</b>
  <%= @exhibit.title %>
</p>

<p>
  <b>Description:</b>
  <%= @exhibit.description %>
</p>

<p>
  <b>Audio:</b>
  <%= @exhibit.audio %>
</p>

<p>
  <b>Video:</b>
  <%= @exhibit.video %>
</p>

<p>
  <b>Floor:</b>
  <%= @exhibit.floor %>
</p>
<p>
  <b>Publish:</b>
  <%= @exhibit.private == 0 ? "Is not publish." : "Is publish."%>
</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=45.769963,24.135438&amp;daddr=&amp;hl=ro&amp;geocode=&amp;sll=45.769925,24.136019&amp;sspn=0.004356,0.009871&amp;mra=mift&amp;mrsp=0&amp;sz=17&amp;ie=UTF8&amp;ll=45.769925,24.136019&amp;spn=0.004356,0.009871&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=45.769963,24.135438&amp;daddr=&amp;hl=ro&amp;geocode=&amp;sll=45.769925,24.136019&amp;sspn=0.004356,0.009871&amp;mra=mift&amp;mrsp=0&amp;sz=17&amp;ie=UTF8&amp;ll=45.769925,24.136019&amp;spn=0.004356,0.009871&amp;t=m" style="color:#0000FF;text-align:left">Vizualizare harta marita</a></small>

<p>
  <%= link_to "QR Code for print", museum_exhibit_path(@museum,@exhibit)+".png" %>
</p>




<%= link_to 'Edit', edit_museum_exhibit_path(@museum,@exhibit) %> |
<%= link_to 'Delete',museum_exhibit_path(@museum,@exhibit), method: :delete %> |
<%= link_to 'Back', museum_path(@museum) %>
