<div class="row">
  <div class="span12">
  
  <% params[:lang] = 'EN' if params[:lang].nil? %>
    <h2>
      <%= @exhibit.send("title_" + params[:lang].to_s) %>
    </h2>

    <%= image_tag((@exhibit.image_url(:thumb_exhibits)), id:"exhibit-img") if @exhibit.image? %>

    <p id="showdescription">
      <b>Description:</b><br>
      <%= @exhibit.send("description_" + params[:lang].to_s) %>
    </p>

  </div>
</div>



<div class="row footer">
  <div class="span6">
    <div class="text-center">
        <a href='#' class="btn btn-large btn-success">
          <%= image_tag("google.png", id:"download-arrow") %>
          DOWNLOAD <%= image_tag("down_logo.png", id:"download-moo") %>
        </a>
    </div>
  </div>
  <div class="span6">
    <p id="social-icons">
      <a href="http://www.facebook.com/sharer/sharer.php?s=100&p[url]=http://staging.mooseumapp.com/&p[title]=Mooseum%20App&p[summary]=Check%20this%20free,%20QrCode%20based,%20Audio%20Guide.%20" target="_blank" title="Share on Facebook">
        <%= image_tag("facebook-logo.png", id: "facebook-logo") %>
      </a>
      <a href="http://twitter.com/home?status=Check%20this%20free,%20awesome,%20QrCode%20based,%20audio%20guide%20for%20museums:%20http://staging.mooseumapp.com" target="_blank" title="Share on Twitter">
        <%= image_tag("twitter-logo.png", id: "twitter-logo") %>
      </a>
      <a href="https://plus.google.com/share?url=http://staging.mooseumapp.com/" target="_blank" title="Share on Google+">
        <%= image_tag("google-plus-logo.png", id: "google-logo") %>
      </a>
      <a href="http://pinterest.com/pin/99360735500167749/" target="_blank" >
        <%= image_tag("pinterest-logo.png", id: "pinterest-logo") %>
      </a>
    </p>
  </div>

</div>


