<div id="download">
	<h1>
		In order to have the Audio Guide feature, download the application :
	</h1>
	<br>
	<a href='#'>
	 	Download 
	</a>
	<p>
		Hide
	</p>
</div>

<h1><%= @museum.name %></h1>

<h3>
  <%= @exhibit.title %>
</h3>

<%= image_tag(@exhibit.image_url(:thumb_exhibits)) if @exhibit.image? %>

<p id="showdescription">
  <b>Description:</b><br>
  <%= @exhibit.description %>
</p>

<p>
  <b>Audio:</b><br>
  <%= @exhibit.audio %>
</p>

<p>
  <b>Video:</b><br>
  <%= @exhibit.video %>
</p>

<p>
  <b>Floor:</b><br>
  <%= @exhibit.floor %>
</p>
<p>
  <b>Publish:</b><br>
  <%= @exhibit.private == 0 ? "Is not published." : "Is published."%>
</p>
<iframe width="425" height="350" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=d&amp;source=s_d&amp;saddr=45.769963,24.135438&amp;daddr=&amp;hl=ro&amp;geocode=&amp;sll=45.769925,24.136019&amp;sspn=0.004356,0.009871&amp;mra=mift&amp;mrsp=0&amp;sz=17&amp;ie=UTF8&amp;ll=45.769925,24.136019&amp;spn=0.004356,0.009871&amp;t=m&amp;output=embed"></iframe><br /><small><a href="https://maps.google.com/maps?f=d&amp;source=embed&amp;saddr=45.769963,24.135438&amp;daddr=&amp;hl=ro&amp;geocode=&amp;sll=45.769925,24.136019&amp;sspn=0.004356,0.009871&amp;mra=mift&amp;mrsp=0&amp;sz=17&amp;ie=UTF8&amp;ll=45.769925,24.136019&amp;spn=0.004356,0.009871&amp;t=m" style="color:#0000FF;text-align:left">Vizualizare harta marita</a></small>