<div class="span9">
  <h1>Listing users</h1>

  <table>
    <tr>
      <th>Username</th>
      <th>Password</th>
      <th>Email</th>
      <th>Role</th>
      <th>Coins</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>

  <% @users.each do |user| %>
    <tr>
      <td><%= user.username %></td>
      <td><%= user.password %></td>
      <td><%= user.email %></td>
      <td><%= user.role %></td>
      <td><%= user.coins %></td>
      <td><%= link_to 'Show', user %></td>
      <%  if loged? %>
          <td><%= link_to 'Edit', edit_user_path(user) %></td>
          <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <% end %>
    </tr>    
  <% end %>
  </table>
  <br />
  <% if loged? %>
  <%= link_to 'New User', new_user_path %>
  <% end %>
</div>