<h1>Listing qr_codes</h1>

<table>
  <tr>
    <th>Qrcode</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @qr_codes.each do |qr_code| %>
  <tr>
    <td><%= qr_code.qrcode %></td>
    <td><%= qr_code.status %></td>
    <td><%= link_to 'Show', qr_code %></td>
    <td><%= link_to 'Edit', edit_qr_code_path(qr_code) %></td>
    <td><%= link_to 'Destroy', qr_code, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Qr code', new_qr_code_path %>
