<nav class="main-menu">
  <ul>
    <% if user_signed_in? %>
      <% unless current_user.admin? or current_user.manager? %>
      <li>
        <%= link_to "Account", edit_user_registration_path %>
      </li><li>
        <%= link_to "Achievements", achievements_path %>
      </li><% if can? :read, Museum %><li>
        <%= link_to "Museums", museums_path %>
      </li><% end %><li>
        <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
      </li>
      <% end %>
    <% else %>
      <% unless current_page?(new_user_session_path) or
        current_page?(new_user_registration_path) or
        current_page?(new_user_password_path) %>
          <li>
          <%= link_to "Sign In", new_user_session_path %>
          </li><li>
           <%= link_to "Sign Up", new_user_registration_path %>
          </li>
      <% end %>
    <% end %>
  </ul>
</nav>
