<<<<<<< HEAD
<div class="span9">
	<h1>
		Welcome Admin !
	</h1>
</div>

<div class="span3">

</div>


=======
<nav>
	<p>
		<%= link_to "Achievements", achievements_path %>
	</p>
	<p>
		<%= link_to "Museums", museums_path %>
	</p>
	<p>
		<%= link_to "Users", reset_path %>
	</p>
	<p>
		<%= link_to "Profile",  profiles_path %>
	</p>
	<p>
		<%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
	</p>
</nav>
>>>>>>> d02f55753759b7de2f563651da82175df5ac2b22
