<h1>
	Welcome User !
</h1>

<br>

<h3>
	Your achievements :  
</h3>

<% @user.profile.achievements.each do |achievement|  %>
	<article>
		<p>
			<strong> Titlu : </strong> <%= achievement.title %>
		</p>
		<p>
			<strong> Descriere : </strong>  <%= achievement.description %>
		</p>
	</article>
<% end %>

<h3>Coins:</h3>

<p>
	<%= @user.profile.coins%>
</p>

<h3>History:</h3>

<ul>
	<% @scan_prof.each do |scan|%>
	<li>
		<%= scan.exhibit.title if scan.exhibit.private == 1%>
	</li>
	<% end %>
</ul>

<h3>New Exhibit:</h3>

<p>
	<%= @exhibit.title %>
</p>
