<h1>
	Welcome <%= @user.email %>
</h1>

<h4>
	Your id is <%= @user.id %>
</h4>

<h4>
	Your encrypted password is <%= @user.encrypted_password %>
</h4>

<h2>
	Options
</h2>

 <ul>
  	<li>
      <%= link_to "Sign Out", destroy_user_session_path, method: :delete %> 
    </li>
    <li>
      <%= link_to "Manage the Achievements", achievements_path %>  
    </li>
  </ul>


