<h1>Museums</h1>

<table>
  <tr>
    <th>Name</th>
<<<<<<< HEAD
    <th>Lat</th>
    <th>Long</th>
=======
>>>>>>> d02f55753759b7de2f563651da82175df5ac2b22
  </tr>

<% @museums.each do |museum| %>
  <tr>
<<<<<<< HEAD
    <td width="500"><%= museum.name %></td>
    <td><%= museum.lat %></td>
    <td><%= museum.long %></td>
=======
    <td><%= museum.name %></td>
    <td><%= link_to 'Show', museum %></td>
>>>>>>> d02f55753759b7de2f563651da82175df5ac2b22
  </tr>
  <tr>
    <td colspan="3">
      <%= link_to 'Show', museum %> |
      <% if current_user.profile.role != 'user'%>
      <%= link_to 'Edit', edit_museum_path(museum) %> |
      <%= link_to 'Destroy', museum, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
    </td>
  </tr>
  <tr>
    <td colspan="3">
      <hr>
    </td>
  </tr>

<% end %>
</table>

<br />
<% if current_user.profile.role != 'user' %>
<%= link_to 'New Museum', new_museum_path %>
<% end %>