<h1>Museums</h1>

<table class="table table-striped table-hover">
  <tr>
    <th>Name</th>
    <th colspan="2"></th>
  </tr>

<% @museums.each do |museum| %>
  <tr>
  <% if current_user.manage_museum?(museum) %>
      <td>
    	<%= museum.name %>
      </td>
      <td id="show">
      	<%= link_to 'Show', museum %>
      </td>
  <% elsif current_user.is?(:admin) %>
      <td>
        <%= museum.name %>
      </td>
      <td id="show">
        <%= link_to 'Show', museum %>
      </td>
  <% end %>
  <% if !museum.published? %>
	  <td>
	  	<%= link_to "Activate", activate_museum_path(museum), data: { confirm: 'Are you sure?' } if current_user.is?(:admin) %>
	  </td>
  <% elsif museum.published? %>
		<td>
	  	<%= link_to "Deactivate", deactivate_museum_path(museum), data: { confirm: 'Are you sure?' } if current_user.is?(:admin) %>
	  </td>
  <% end %>
  </tr>    
<% end %>

</table>

<br>
<%= link_to 'New Museum', new_museum_path if current_user.is?(:admin) %>
