<h1>Listing museums</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Lat</th>
    <th>Long</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @museums.each do |museum| %>
  <tr>
    <td><%= museum.name %></td>
    <td><%= museum.lat %></td>
    <td><%= museum.long %></td>
    <td><%= link_to 'Show', museum %></td>
    <% if current_user.profile.role != 'user'%>
    <td><%= link_to 'Edit', edit_museum_path(museum) %></td>
    <td><%= link_to 'Destroy', museum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user.profile.role != 'user' %>
<%= link_to 'New Museum', new_museum_path %>
<% end %>