<h1>Listing achievements</h1>

<table>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @achievements.each do |achievement| %>
  <tr>
    <td><%= achievement.title %></td>
    <td><%= achievement.description %></td>
    <td><%= achievement.image %></td>
    <% if current_user.profile.role == "admin" %>
      <td><%= link_to 'Show', achievement %></td>
      <td><%= link_to 'Edit', edit_achievement_path(achievement) %></td>
      <td><%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    <% else %>
      <td><%= link_to 'Show', achievement %></td>
    <% end %>
  </tr>
<% end %>
</table>

<br />
<% if current_user.profile.role == "admin" %>
  <%= link_to 'New Achievement', new_achievement_path %>
<% end %>