<h1>Achievements</h1>

<table>
  <tr>
    <th>Image</th>
    <th>Title</th>
    <th>Description</th>
<<<<<<< HEAD
    <th>Image</th>
=======
>>>>>>> d02f55753759b7de2f563651da82175df5ac2b22
  </tr>

<% @achievements.each do |achievement| %>
  <tr>
<<<<<<< HEAD
    <td width="300"><%= achievement.title %></td>
    <td width="400"><%= achievement.description %></td>
    <td><%= achievement.image %></td>
  </tr>
  <tr>
    <% if current_user.profile.role == "admin" %>
      <td colspan="3">
        <%= link_to 'Show', achievement %> |
        <%= link_to 'Edit', edit_achievement_path(achievement) %> |
        <%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    <% else %>
      <td><%= link_to 'Show', achievement %></td>
=======
    <td><%= achievement.image %></td>
    <td><%= achievement.title %></td>
    <td><%= achievement.description %></td>
    <% if current_user.profile.role == "admin" %>
      <td><%= link_to 'Edit', edit_achievement_path(achievement) %></td>
      <td><%= link_to 'Destroy', achievement, method: :delete, data: { confirm: 'Are you sure?' } %></td>
>>>>>>> d02f55753759b7de2f563651da82175df5ac2b22
    <% end %>
  </tr>
   <tr>
    <td colspan="3">
      <hr>
    </td>
  </tr>
<% end %>
</table>

<br />
<% if current_user.profile.role == "admin" %>
  <%= link_to 'New Achievement', new_achievement_path %>
<% end %>