<!DOCTYPE html>
<html class="home">
<head>
  <title>Mooseum</title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:400,300,700', :media => 'all' %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>

	<div class="container">
		<div class="row">
			<%= render partial: 'shared/alerts' %>
		</div>
	</div>

	<div class="background-up">
		<div class="container">
			<%= yield %>
		</div>
	</div>
<<<<<<< HEAD

	<div class="background-down">
		<div class="container">
		  <%= render partial: 'shared/steps' %>
		</div>
	</div>
=======
	
<!-- 	<footer.main>
		<div class="container">
			<div class="row">
				<div class="span12">

				</div>
			</div>
		</div>
	</footer> -->
>>>>>>> fab90924d21636abcd55d3d2c5177b034da36330

</body>
</html>
