<!DOCTYPE html>
<html>
<head>
  <title>AudioguideMuseum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>

<body>
<<<<<<< HEAD

	<header>
		<div class="container">
			<div class="row">
				<div class="span12">
						<%= render partial: "shared/menu"%>
				</div>
			</div>
		</div>
	</header>

	<div class="container">
		<div class="row">
			<%= yield %>	
		</div> 
	</div>

	<footer>
		<div class="container">
			<div class="row">
				<div class="span5">
					<h4>Get the Audioguide for the museum and start your journey in time!</h4>
					<%= image_tag("appstore.png", alt: "Appstore Image", id:"appstore") %>
					<%= image_tag("googleplay.png", alt: "Googleplay Image", id:"googleplay") %>
				</div>
				<div class="span7">
					<%= image_tag("fb.png", alt: "Facebook Image", id:"facebook") %>
					<%= image_tag("tw.png", alt: "Twitter Image", id:"twitter") %>
				</div>
			</div>
		</div>
	</footer>
		

=======
	<% if user_signed_in? %>
		<%= render "pages/shared/nav_logged" %>
	<% else %>
		<% unless current_page?(new_user_session_path) or 
			current_page?(new_user_registration_path) or current_page? (new_user_password_path) %>
			<%= render "pages/shared/nav_unlogged" %>
		<% end %>
  <% end %>
  <%= yield %>
<footer>
	<pre>
		<%= session.inspect %>
	</pre>
</footer>
>>>>>>> edfb76a7a81270ed180b27c31c7d4ea356223b38
</body>
</html>
