<!DOCTYPE html>
<html>
<head>
  <title>AudioguideMuseum</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% if user_signed_in? %>
		<%= render "pages/shared/nav_logged" %>
	<% else %>
		<% unless current_page?(new_user_session_path) or 
			current_page?(new_user_registration_path) %>
			<%= render "pages/shared/nav_unlogged" %>
		<% end %>
  <% end %>

	<%= yield %>
<footer>
	<pre>
		<%= session.inspect %>
	</pre>
</footer>
</body>
</html>
