<!DOCTYPE html>
<html class="exhibit">
<head>
  <title>Mooseum</title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:200,400,700', :media => 'all' %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="notification">
    <p>
      <%= link_to(image_tag("logo-tiny.png", id: "icon-mooseum"), root_path) %>
      Want your personal universal audioguide right on your mobile phone?
      <a href="#" id="download" targe="_blank"> 
        <%= image_tag("android.png", id: "android-icon") %> Download Mooseum!</a>
      <a href='#' id="hide-button">Hide</a>
    </p>
    <a href='#' id="show-button">Show</a>
  </div>

  <div id="language">
    <%= link_to image_tag('Ro-flag.png'), lang: 'RO' %>
    <%= link_to image_tag('Fr-flag.png'), lang: 'FR' %>
    <%= link_to image_tag('En-flag.png'), lang: 'EN' %>
    <%= link_to image_tag('De-flag.png'), lang: 'DE' %>
    <%= link_to image_tag('Sp-flag.png'), lang: 'ES' %>
    <%= link_to image_tag('It-flag.png'), lang: 'IT' %>
  </div>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
