<!DOCTYPE html>
<html class="exhibit">
<head>
  <title>Mooseum</title>
  <%= stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans:200,400,700', :media => 'all' %>
  <%= stylesheet_link_tag 'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div id="notification">
    <p>
      <%= image_tag('logo-tiny.png') %>
      Want your personal universal audioguide right on your mobile phone?
      <a href="#" id="download" targe="_blank">Download Mooseum!</a>
      <a href='#' id="hide-button">Hide</a>
    </p>
    <a href='#' id="show-button">Show</a>
  </div>

  <div id="language">
    <%= link_to image_tag('Ro-flag.png', id: 'ro'), lang: 'RO' %>
    <%= link_to image_tag('Fr-flag.png', id: 'fr'), lang: 'fr' %>
    <%= link_to image_tag('En-flag.png', id: 'en'), lang: 'en' %>
    <%= link_to image_tag('De-flag.png', id: 'de'), lang: 'de' %>
    <%= link_to image_tag('Sp-flag.png', id: 'sp'), lang: 'sp' %>
    <%= link_to image_tag('It-flag.png', id: 'it'), lang: 'it' %>
  </div>

	<div class="container">
		<%= yield %>
	</div>

</body>
</html>
