<div class="span7 offset5">
	<div class="signbox">
		<h2 class="text-center">
			Sign up!
		</h2> 
	<div class="row">
      <div class="span5">
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
			  <%= devise_error_messages! %>

			  <div><%= f.label :email %>
			  <%= f.email_field :email, :autofocus => true %></div>

			  <div><%= f.label :password %>
			  <%= f.password_field :password %></div>

			  <div><%= f.label :password_confirmation %>
			  <%= f.password_field :password_confirmation %></div>

			  <div><%= f.submit "Sign up", class: "btn btn-inverse" %></div>
				<% end %>
			</div>
    </div>

    <div class="row">
      <div class="span5 offset1">
				<%= render "users/shared/links" %>
			</div>
    </div>
	</div>
</div>